.kunst {
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
  font-family: "Roboto", sans-serif;
}

.kunst-blok {
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 30px;
  color: rgb(0, 0, 0);
  overflow: hidden; /* voorkomt dat iets buiten de box duwt */
}

.kunst-blok h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.kunst-afbeelding {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  margin-top: 15px;
}

.kunst-blok .container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  padding: 0 10px;
  box-sizing: border-box;
}

@import url("https://unpkg.com/open-props");
@import url("https://unpkg.com/open-props/normalize.min.css");

:root {
  --magnifier: 6;
  --gap: 1vmin;
  --transition: 0.5s;
}

.expanding-gallery {
  text-align: center;
  padding: 40px 0;
}

.expanding-gallery h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: "Cal Sans", sans-serif;
}

.container {
  width: 80vw;
  height: 50vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  margin: auto;
}

.container img {
  --brightness: 0.75;
  --grayscale: 1;
  transition: flex var(--transition), filter var(--transition);
  height: 100%;
  filter: grayscale(var(--grayscale)) brightness(var(--brightness));
  object-fit: cover;
  overflow: hidden;
  flex: 1;
  border-radius: 8px;
}

.container img:hover {
  --brightness: 1.15;
  --grayscale: 0;
  flex: var(--magnifier);
}

.kunst-blok p{
    text-align: left;
    font-weight: 200;
}