/* main */

main p{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
}

/* eerste section */

.kaart{
    width: 400px;
    border-radius: 20px;
}

.kader {
  display: flex;
  gap: 40px;
  align-items: flex-start; /* ← bovenlijnen in plaats van centreren */
  padding: 20px;
  align-items: center;
}

.kader__text {
  display: flex;
  flex-direction: column;
  max-width: 600px; /* ← zorgt dat tekst een nette breedte houdt */
}

.kaarten-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text__parts{
    display: flex;
    gap: 10px;
}

.text__title{
    font-weight: bold;
    font-size: 30px;
}

.domesticatie{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

#domesticatie{
    margin-bottom: 50px
}